.UserCard {
  background-color: #e0f7fa; 
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  
}

.UserCard:hover {
  transform: translateY(-5px);
}

.UserCard h1, .UserCard h3, .UserCard p {
  margin: 5px 0;
  
}
