
.Cards{
  width: 300px;
      border: 1px solid black;
      border-Radius: 10px;
      padding: 15px;
      text-Align: center;
      margin: 20px auto;
     cursor: pointer;
    background-color: bisque;
      box-shadow: 0 12px 20px black; 

}
.Cards:hover {
  transform: translateY(-10px);       
  box-shadow: 0 12px 20px black; 
  background-color: #f0f8ff;
  border-color: burlywood;
}
 .Cards ,p{
  font-size: 14px;
  font-weight: bold;
 }

  
